.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.25);
}

.board {
  color: rgb(208, 208, 208);
  background-color: rgb(57, 57, 57);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}

.modal {
  position: fixed;
  top: 5vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
}

.header {
  background: rgb(82, 82, 82);
  padding: 0.5rem;
}

.header h2 {
  margin: 0;
  color: white;
}

.content {
  padding: 1rem;
  flex-wrap: wrap;
}

.actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 600px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}
